introspection endpoint does not always verify client credentials

In the case client asks to introspect a proxied access token client credentials are not always successfully verified. This means effectively that token introspection endpoint is not anymore protected but anyone may call it for the proxied access tokens.






The current way tip verifies client credentials if the token is from a "remote" issuer is to send an introspection request to the local issuer, but without the actual token, but with the passed authentication.

Indeed we then check if the local issuer responds with 401 or not. According to [RFC 7662 Section 2.3](https://datatracker.ietf.org/doc/html/rfc7662#section-2.3) this is the defined behavior: If the client credentials are not valid the response has status code 401.

You are right in that 401 means credentials are not valid. It does not go both ways. Not having 401 in response does not mean credentials are verified and good. The request may fail for any number of reasons. From 401 you know credentials are bad. Nothing more.BR JanneLähetetty iPhonestaGabriel Zachmann ***@***.***> kirjoitti 29.8.2025 kello 11.44:﻿zachmann left a comment (zachmann/tip#18)
The current way tip verifies client credentials if the token is from a "remote" issuer is to send an introspection request to the local issuer, but without the actual token, but with the passed authentication.
Indeed we then check if the local issuer responds with 401 or not. According to RFC 7662 Section 2.3 this is the defined behavior: If the client credentials are not valid the response has status code 401.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message ID: ***@***.***>